<form class="flex flex-col gap-2">
  <div class="grid gap-3 sm:grid-cols-2">
    <div class="flex flex-col">
      <label class="input-label" for="razonSocial">Razon social</label>
      <div class="input-wrapper w-full">
        <input
          id="razonSocial"
          type="text"
          class="form-input w-full"
          placeholder="Nombre de la empresa "
          [value]="razonSocial()"
          name="razonSocial"
          required
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label class="input-label" for="nit">NIT</label>
      <div class="input-wrapper w-full">
        <input
          id="nit"
          type="text"
          class="form-input w-full"
          placeholder="123456789"
          [value]="nit()"
          name="nit"
          required
        />
      </div>
    </div>
  </div>
  <div class="grid gap-3 sm:grid-cols-2">
    <div class="flex flex-col">
      <label class="input-label" for="giroEmpresa">Giro de la Empresa</label>
      <div class="input-wrapper w-full">
        <input
          id="giroEmpresa"
          type="text"
          class="form-input w-full"
          placeholder="Actividad principal"
          [value]="giroEmpresa()"
          name="giroEmpresa"
          required
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label class="input-label" for="representanteLegal">Representante Legal</label>
      <div class="input-wrapper w-full">
        <input
          id="representanteLegal"
          type="text"
          class="form-input w-full"
          placeholder="Nombre del Representante"
          [value]="representanteLegal()"
          name="representanteLegal"
          required
        />
      </div>
    </div>
  </div>
  <div class="grid gap-3 sm:grid-cols-2">
    <div class="flex flex-col">
      <label class="input-label" for="cuiRepresentante">CUI del Representante</label>
      <div class="input-wrapper w-full">
        <input
          id="cuiRepresentante"
          type="text"
          class="form-input w-full"
          placeholder="123456789101"
          [value]="cuiRepresentante()"
          name="cuiRepresentante"
          required
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label class="input-label" for="nombresRepresentanteLegal">Nombres del representante legal</label>
      <div class="input-wrapper w-full">
        <input
          id="nombresRepresentanteLegal"
          type="text"
          class="form-input w-full"
          placeholder="Nombres del Representante"
          [value]="nombresRepresentanteLegal()"
          name="nombresRepresentanteLegal"
          required
        />
      </div>
    </div>
  </div>
  <div class="grid gap-3 sm:grid-cols-2">
    <div class="flex flex-col">
      <label class="input-label" for="apellidosRepresentante">Apellidos del representante</label>
      <div class="input-wrapper w-full">
        <input
          id="apellidosRepresentante"
          type="text"
          class="form-input w-full"
          placeholder="Apellidos completos"
          [value]="apellidosRepresentante()"
          name="apellidosRepresentante"
          required
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label class="input-label" for="correo">Correo Electrónico</label>
      <div class="input-wrapper w-full">
        <input
          id="correo"
          type="email"
          class="form-input w-full"
          placeholder="empresa@correo.com"
          [value]="correo()"
          name="correo"
          required
        />
      </div>
    </div>
  </div>
  <div class="grid gap-3 sm:grid-cols-3">
    <div class="flex flex-col">
      <label class="input-label" for="telefono">Teléfono</label>
      <div class="input-wrapper w-full">
        <input
          id="telefono"
          type="text"
          class="form-input w-full"
          placeholder="5555-5555"
          [value]="telefono()"
          name="telefono"
          required
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label class="input-label" for="password">Contraseña</label>
      <div class="input-wrapper">
        <input
          id="password"
          [type]="verClave() ? 'text' : 'password'"
          class="form-input-password"
          placeholder="Tu contraseña"
          [value]="clave()"
          name="password"
          required
        />
        <button
          type="button"
          class="password-toggle icon-gray"
          (click)="alternarVisibilidadClave()"
        >
          <mat-icon
            class="form-icon"
          >visibility</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <label class="input-label" for="password">Confirmar Contraseña</label>
      <div class="input-wrapper">
        <input
          id="password"
          [type]="verConfirmarClave() ? 'text' : 'password'"
          class="form-input-password"
          placeholder="Repetir contraseña"
          [value]="confirmarClave()"
          name="password"
          required
        />
        <button
          type="button"
          class="password-toggle icon-gray"
          (click)="alternarVisibilidadConfirmarClave()"
        >
          <mat-icon
            class="form-icon"
          >visibility</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between pt-3 pb-3">
    <label class="flex items-center gap-2 cursor-pointer">
      <div class="relative flex w-4 h-4">
        <input
          type="checkbox"
          class="w-full h-full cursor-pointer"
          name="rememberMe"
        />
      </div>
      <span class="text-slate-600 text-sm leading-5">Acepto los
                    <button
                      type="button"
                      class="forgot-password-btn"
                    >
                    términos y condiciones
                  </button></span>
    </label>


  </div>

  <button type="submit" class="signin-btn">Registrate</button>
</form>
